.container{
    width: 100%;
    height: 100vh;
    background-image: url(../public/images/hero-bg3.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px #0000006b;
}

.textContent{
    padding-top: 240px;
    text-align: center;
}

.paragraph{
    padding: 5px 80px;
    font-weight: 400;
}

.button{
    padding: 10px 20px;
    background-color: red;
    border: none;
    margin: 10px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}
